# NY yellow taxi data loading

In [18]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 8.7 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584227 sha256=47da6f7a6247b2889a8bc28c8490261c89a7d9cbf9c9229a6aa9d87d26c79d0a
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 35.2 MB/s eta 0:00:000m eta 0:00:01
Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 kB 13.5 MB/s eta 0:00:00m eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.25
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

### load csv file to df

In [9]:
df = pd.read_csv('/workspaces/DE-Zoomcamp-2024/data/green_tripdata_2019-09.csv', nrows=100)
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

### Edit datatime format

In [22]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

### Create db engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

### Get  DDL from the dataframe to create the table

In [24]:
print(pd.io.sql.get_schema(df , 'ny_yellow_taxi_data' ,con = engine))

CREATE TABLE ny_yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

### Split the data into chunks

In [25]:
df_iter = pd.read_csv('/workspaces/DE-Zoomcamp-2024/data/green_tripdata_2019-09.csv' , iterator = True , chunksize = 100000)

In [26]:
df = next(df_iter)

### Create the table

In [27]:
df.head(0).to_sql('ny_yellow_taxi', engine, if_exists='replace', index=False)

0

### Iterate over chunks and load into PostgreSQL

In [28]:

for i, chunk in enumerate(df_iter):
    start_time = time()
    chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
    chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')
    chunk.to_sql('ny_yellow_taxi', engine, if_exists='append', index=False)
    
    end_time = time()
    elapsed_time = end_time - start_time

    print(f'Chunk {i + 1} loaded into PostgreSQL. Elapsed Time: {elapsed_time:.2f} seconds')

print('Data loading complete.')

Chunk 1 loaded into PostgreSQL. Elapsed Time: 9.85 seconds
Chunk 2 loaded into PostgreSQL. Elapsed Time: 10.10 seconds

/tmp/ipykernel_12664/765277001.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(df_iter):

Chunk 3 loaded into PostgreSQL. Elapsed Time: 10.03 seconds
Chunk 4 loaded into PostgreSQL. Elapsed Time: 4.05 seconds
Data loading complete.

### load_csv_to_postgres function

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import time

def load_csv_to_postgres(engine, table_name, file_path, chunk_size=100000):
    # Check if table exists
    inspector = inspect(engine)
    if not inspector.has_table(table_name):
        print(f'Table {table_name} does not exist. Creating...')
        # Assume the first chunk has the column names
        first_chunk = pd.read_csv(file_path, nrows=1)
        first_chunk.to_sql(table_name, engine, index=False)

    # Read CSV in chunks
    df_iter = pd.read_csv(file_path, iterator=True, chunksize=chunk_size)

    # Iterate over chunks and load into PostgreSQL
    for i, chunk in enumerate(df_iter):
        start_time = time.time()

        # Modify chunk processing as needed
        chunk.to_sql(table_name, engine, if_exists='append', index=False)

        end_time = time.time()
        elapsed_time = end_time - start_time
        print(f'Chunk {i + 1} loaded into PostgreSQL. Elapsed Time: {elapsed_time:.2f} seconds')

    print('Data loading complete.')

# Example usage:
# Replace 'your_postgres_url' and 'your_table_name' with actual values
db_url = 'postgresql://root:root@localhost:5432/ny_taxi'
table_name = 'zones'
file_path = '/workspaces/DE-Zoomcamp-2024/data/zone_lookup.csv'
engine = create_engine(db_url)

# Call the function
load_csv_to_postgres(engine, table_name, file_path)